*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

nav{
    width: 100%;
    background-color: rgb(130, 198, 215);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;

}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

nav ul li{
    background: rgba(69, 69, 69, 0.06);
    margin: 0 10%;
    padding: 1% 4%;
    border-radius: 5px;

}

nav ul li a{
    color: white;
    font-size: 1.3rem;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home_img{
    width: 100%;
}
